{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["simple-import-sort"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],

    // TODO: turn this back on and fix pages at some point
    "react/no-unescaped-entities": "off",

    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": "warn"
  }
}
