{
  "extends": ["next/core-web-vitals", "plugin:prettier/recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],

    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": "warn"
  }
}
